.wrapper h1 {
    margin-bottom: 8px;
}

.wrapper small.date {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 48px;
    font-family: var(--mono-font-stack);
    color: #a8a8a8;
}

.wrapper h2 {
    margin-bottom: 16px;
    font-size: 18px;
}

.wrapper ol, .wrapper ul {
    margin-bottom: 16px;
}

.wrapper p.note {
    text-align: center;
    font-style: italic;
}