.wrapper h1 {
    margin-bottom: 8px;
}

.wrapper small.date {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 48px;
    font-family: var(--mono-font-stack);
    color: #a8a8a8;
}